@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-primary text-white hover:bg-primary/90 transition font-medium;
    }

    .btn-alt {
        @apply bg-alt text-white hover:bg-alt/90 transition font-medium;
    }

    .card {
        @apply bg-brand2 p-4 rounded-md shadow;
    }
}

@layer base {
    body {
        @apply bg-brand text-[#3A0030]
    }
}

.mask-gradient {
    mask-image: linear-gradient(to bottom, transparent 0%, black 40%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%, black 100%);
}